<header>
  <nav class="nav">
      <ul>
          <li><a href="./index.html"> <img src="./assets/APLogo-20-20.png" width="110" height="110"> >Inicio </a> </li>  
          <li><a href=""> Inicio </a> </li> 
          <li><a href=""> Estudios </a> </li> 
          <li><a href=""> Experiencia laboral </a> </li> 
          <li><a href=""> Capacidades </a> </li> 
      </ul>
  </nav>
  
  <img alt="" src="./assets/IMG_20220810_222325_308.webp" width="20%" height="80%"/>
  <h1> Hola! Soy Agustina Donalisio </h1>
  <P> Estudiante en desarrollador Fron End</P>
  
  <h2> Datos personales</h2>
  <p> Soy Agustina Donalisio, administradora y estudiante en desarrollador Font End y Back end, el objetivo es aprender diversos lenguajes de la programacion para poder ejercer</p>
  <a href="./assets/CV - Donalisio Agustina.pdf"> Mi CV</a>



</header>

<footer>
  <h3>Redes sociales</h3>
  <ul>
      <a href="">Lindkedin</a>
      <a href="https://www.instagram.com/agustinadonalisio">Instagram</a>
  </ul>
</footer>

<app-root></app-root>